body {
    
    font-weight: 100;
    height:800px;
    background: radial-gradient(#a23982,#1f1013);
    background-repeat: no-repeat;
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 15px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}

#head1{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}


@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}


.titulo{
	font-family: Inter;
	font-style: bold;
	font-weight: normal;
	font-size: 25px;
	line-height: 150%;
	color: #fdf8f8;	
	width: 60%;
	margin-bottom: 6px;
}

.area-encriptado{
	width: 60%;
	height: 30%;
}
#area-texto-encriptado{
	opacity: 0.90;
  height: 90%;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	border-radius: 32px;
  margin-top: 6%;
	margin-bottom: 2%;
  justify-content: center;

}


#texto{
  margin: 4%;
	width: 90%;
	height: 75%;
	border:0;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: #4b0f39;
  background: none;
  text-align: justify;

}

::placeholder{
	color: #a23982;
}
#texto:focus {
  outline: none !important;
  box-shadow: 0 0 5px #742c2c;
}

  #mensajes{
	opacity: 0.93;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fdf8f8;
	width: 60%;
  }
  #area-error{
	margin-left: 2%;
	background-color: #d33636;
	width: 90%;
  }

  #error{
	margin-top: 4%;
	opacity: 0.83;
	max-width: 20%;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	width: 60%;
	text-align: center;
  }

#encriptar{

	display: inline-flex;
	flex-direction: row;
	padding: 18px;
	left: 0px;
	top: 0px;	
	border: 1px solid #ffffff;
	background: #ffffff;
	border-radius: 24px;	
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 2%;
	font-size: 19px;
	text-align: center;
	color: #a23982;
}


#desencriptar{
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 18px;
	position: static;
	left: 352px;
	top: 0px;
	background: #ffffff;
	border: 1px solid #a23982;
	color: #a23982;
	box-sizing: border-box;
	border-radius: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 2px;
	font-size: 19px;
}


.area-resultado{
	opacity: 0.93;
	position: absolute;
	left:62%;
	width: 30%;
	height: 570px;
	top: 40px;
	background: #ffffff;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	align-items: center;
	justify-content: center;
	display: inline-block;
}

#caja-fuerte{
	transition: 2s;
	margin-left: 20%;
	width: 60%;
	align-items: center;
	justify-content: center;


}

#texto-bienvenida{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 100%;
	color: #4b0f39;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}


#titulo-bienvenida{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	line-height: 150%;
	color: #692856;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}



#texto-resultado{
	position: absolute;
	left:5%;
	width: 80%;
	height: 70%;
	top: 40px;
	background-color: #ffffff;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	border: 2px;
	border-color: #ffffff;
	margin-left: 2%;
	text-transform: lowercase;
	margin-bottom: 2%;
	box-shadow: 0 0 5px #fdf8f8;
	color: #4b0f39;
}

#texto-resultado:focus {
    outline: none !important;
    box-shadow: 0 0 5px #742c2c;
  }


#copiar{
	display: flex;
	flex-direction: row;
	padding: 24px;
	position: absolute;
	top: 80%;
	color: #a23982;
	background: #ffffff;
	border: 1px solid #a23982;
	box-sizing: border-box;
	border-radius: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
	font-size: 19px;
}

footer{
	opacity: 0.9;
	width: 100%;
	margin-left: 2%;
	display:block;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fdf8f8;
}

.logo{
	width: 40px;
	height:40px;
}

.fadeOut{
	opacity: 0;
	transition:0.7s;
}