body {

  text-align: center;
    background: radial-gradient(#000000,#414141);
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}



button:focus{
  outline: none;
}

.header{
  color: white;
  font-size: 2em;
}


i:hover, textarea:hover,  .text-box:hover{
  transform: scale(1.05);
}

button:hover{
  transform: scale(1.05);
  color: #ffffff;
  background-color: #303030;
  border-color: #303030;
}

.titulo{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2em;
  margin-top:90px;
  margin-bottom:30px;
}



.text-box{
  display: inline-block;
  width: 300px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}



::placeholder{
	color: #6f6f6f;
}

textarea{
  font-family: 'Montserrat', sans-serif;
}

#texto:focus {
  outline: none !important;
  box-shadow: 0 0 5px #742c2c;
}

  #mensajes{
	opacity: 0.93;
	font-size: 20px;
	color: #fdf8f8;

  }

  #error{
	margin-top: 50px;
  margin-bottom: 50px;
    color: #ffa0a0;

  }



button{
	padding: 18px;
	margin: 4px;
	border: 1px solid #ffffff;
	background: #ffffff;
	border-radius: 24px;	

	font-size: 19px;
	text-align: center;
	color: #000000;
}




.bienvenida{
  margin: 10px;
}

.bienvenida i{
  font-size: 50px;
  margin-bottom: 10px;
}

#texto-bienvenida{

	font-size: 17px;
	color: #000000;
	text-align: center;

}


#titulo-bienvenida{
	font-weight: bold;
	font-size: 22px;

	color: #000000;
	text-align: center;

}



#texto-resultado{
	background-color: #ffffff;
	font-size: 22px;
	border: 2px;
	border-color: #ffffff;

	text-transform: lowercase;

	box-shadow: 0 0 5px #fdf8f8;
	color: #4b0f39;
}

#texto-resultado:focus {
    outline: none !important;
    box-shadow: 0 0 5px #742c2c;
  }



footer{
	width: 100%;
  position: fixed;
  bottom:0;
  padding-bottom: 8px;
	font-size: 20px;
	color: #fdf8f8;
}

 footer p, footer i{
  display: inline;
  color: #fdf8f8;
}

footer i{
  margin-left: 10px;
}

.fadeOut{
	display: none;
	transition:0.7s;
}






@media screen and (max-width:553px){
  .text-box, #texto{
    width: 70%;
  }
  }
  

  @media screen and (max-width:783px) and (max-height:881px){
    .text-box, #texto{
      height: 16%;
    }

    #vault{
      display: none !important;
    }
    }
    


    @media screen and (max-height:643px){
      .bienvenida{
        display: none;
      
      }

      .text-box, #texto{
        height: 6%;
      }
  
      }