body{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	background-image: url(../img/background.svg);
}
.titulo{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 150%;
	color: #742c2c;
	background-color: #EBEBEB;
	width: 800px;
}


.area-encriptado{
	margin-top: 30px;
	margin-bottom: 2%;
	width: 60%;
	height: 500px;
}



#texto{
	width: 90%;
	height: 55%;
	left: 240px;
	top: 168px;
	border:0;
	background-color: #f7f7f7;;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 150%;
	margin-left: 2%;
	margin-bottom: 0.1%;
	color: #771818;
}

#texto:focus {
    outline: none !important;
    box-shadow: 0 0 5px #742c2c;
  }

  #mensajes{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #3a3a3a;
	background-color: #EBEBEB;
	width: 67%;
  }

#encriptar{

	display: inline-flex;
	flex-direction: row;
	padding: 18px;
	left: 0px;
	top: 0px;	
	border: 1px solid #a72121;
	background: #a72121;;
	border-radius: 24px;	
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 2%;
	font-size: 19px;
	text-align: center;
	color: #FFFFFF;
	box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.08);
}


#desencriptar{
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 18px;
	position: static;
	left: 352px;
	top: 0px;
	background: #e7e7e7;
	border: 1px solid #771818;
	color: #771818;
	box-sizing: border-box;
	border-radius: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 2px;
	font-size: 19px;
	box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.08);
}


.area-resultado{
	position: absolute;
	left:62%;
	width: 36%;
	height: 90%;
	top: 40px;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	align-items: center;
	justify-content: center;
	display: inline-block;
}

#caja-fuerte{
	transition: 2s;
	margin-left: 20%;
	width: 60%;
	align-items: center;
	justify-content: center;


}

#texto-bienvenida{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 100%;
	color: #3a3a3a;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}


#titulo-bienvenida{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	line-height: 150%;
	color: #521e1e;
	text-align: center;
	
}



#texto-resultado{
	position: absolute;
	left:5%;
	width: 80%;
	height: 70%;
	top: 40px;
	background-color: #ffffff;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	border: 2px;
	border-color: #742c2c;
	margin-left: 2%;
	text-transform: lowercase;
	margin-bottom: 2%;
	color: #771818;
	box-shadow: 0 0 5px #742c2c;
}

#texto-resultado:focus {
    outline: none !important;
    box-shadow: 0 0 5px #742c2c;
  }


#copiar{
	display: flex;
	flex-direction: row;
	padding: 24px;
	position: absolute;
	top: 80%;
	color: #771818;
	background: #ffffff;
	border: 1px solid #742c2c;
	box-sizing: border-box;
	border-radius: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;
	font-size: 19px;
	box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.08);
}

footer{
	display:block;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #3a3a3a;
	background-color: #EBEBEB;
}

.logo{
	width:2%;
	height:2%;
}

.fadeOut{
	opacity: 0;
	transition:0.7s;
}
